<% comment = local_assigns.fetch(:comment, @comment) %>
<% article = local_assigns.fetch(:article, comment&.article || @article) %>
<% form_target = if comment&.persisted? || article.blank?
                   comment
                 else
                   [article, comment]
                 end %>

<div class="max-w-lg mx-auto border border-gray-300 p-6 rounded-lg shadow-md">
  <%= form_with(model: form_target, local: true) do |form| %>
    <% if comment&.errors&.any? %>
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
        <ul>
          <% comment.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :content, "Tu comentario", class: "block mb-2 text-gray-700" %>
      <%= form.text_area :content, 
            class: "border border-gray-300 p-2 rounded w-full", 
            rows: 4, 
            placeholder: "Escribe tu comentario" %>
    </div>

    <div class="flex justify-end">
      <%= form.submit "Guardar", 
            class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
    </div>

  <% end %>
</div>