<div class="max-w-2xl mx-auto my-8">
  <div class="bg-white shadow-md rounded-lg p-6">
    <h1 class="text-3xl font-semibold text-gray-800 mb-4">Articulo</h1>

    <h2 class="text-2xl font-semibold text-gray-700 mb-2">
      <%= @article.title %> <br> <span class="text-sm text-gray-500">Por: <%= @article.user.name %></span>
    </h2>

    <p class="text-gray-600 leading-relaxed mb-4">
      <%= @article.body %>
    </p>

    <h3>Comentarios</h3>
    <% @article.comments.each do |comment| %>
      <div class="mb-4">
        <small>Por: <%= comment.user.name %></small>
        <p><%= comment.content %></p>
        <small><%= time_ago_in_words(comment.created_at) %> atrás</small>
      </div>
    <% end %>
    <%= render "comments/form", article: @article %>

    <div class="flex justify-center space-x-4">
      <% if user_signed_in? && current_user == @article.user %>
        <%= link_to "Editar", edit_article_path(@article), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      <% end %>
      <% if user_signed_in? && current_user == @article.user %>
      <%= button_to "Eliminar", article_path(@article), method: :delete, data: { turbo_confirm: "¿Estás seguro de eliminar este artículo?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      <% end %>
    </div>

    <div class="mt-6 text-center">
      <%= link_to "Volver al inicio", articles_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
    </div>
  </div>
</div>
